<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>机场变更事件</title>
    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <style>
        .layui-form-label {
            white-space: nowrap
        }

        .layui-inline .layui-input-inline button {
            border-radius: 5px;
        }

        .layui-breadcrumb {
            position: relative;
            top: 5px;
            left: 15px;
        }

        .layui-btn {
            width: 80px;
            height: 30px;
            line-height: 30px;
        }

        #addOrUpdateBillDiv .layui-inline {
            margin: 0 auto;
            display: block;
        }

        #addOrUpdateBillDiv .titleContent {
            margin: 10px 0;
        }

        #addOrUpdateBillDiv .layui-input-inline input {
            width: 200px;
        }
        #chart{
            margin: 0 auto;
        }
    </style>
</head>

<body>
<span class="layui-breadcrumb">
        <a href="http://localhost:8080">首页</a>
    </span>

<table id="newsTable" lay-filter="newsTable"></table>


<script src="/layui/layui.js"></script>
<script type="text/html" id="tableBar">
    <form class="layui-form" lay-filter="searchFrom">
        <div class="layui-form-item">
            <div class="layui-inline">

                <label class="layui-form-label">三字编号</label>
                <div class="layui-input-inline">
                    <input id="code" type="text" name="code" lay-verify="title" autocomplete="off"
                           placeholder="请输入编号" class="layui-input">
                </div>
                <label class="layui-form-label">中文描述</label>
                <div class="layui-input-inline">
                    <input id="cnnm" type="text" name="cnnm" lay-verify="title" autocomplete="off"
                           placeholder="请输入名称" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline" style="width: 100px;">

                    <button type="button" class="layui-btn  layui-btn-norma" lay-submit lay-filter="doSearch">搜索
                    </button>
                </div>
            </div>
        </div>
    </form>
</script>
<hr>
<br>
<div id="chart" style="width: 1000px; height: 800px"></div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/layui/echarts.js"></script>
<script type="text/javascript"  th:inline="none">
    layui.use(function () {
        let table = layui.table
        let $ = layui.$
        let layer = layui.layer
        var form = layui.form;
        var laydate = layui.laydate;


// 搜索功能
        form.on("submit(doSearch)", (data) => {

            // 判断是否有搜索条件，如果没有，则将查询参数设置为空对象
            console.log(data)
            console.log(data.field)
            tableInfo.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            }, "data");

            // 禁止页面刷新
            return false;
        });


        //渲染表格组件
        var tableInfo = table.render({
            elem: "#newsTable",
            toolbar: "#tableBar",
            url: "http://localhost:8081/airports/APUE",
            cols: [[
                {checkbox: true,fixed: "left", width: 50},
                {field: "id", title: "编号",width: 120},
                {field: "meta_id", title: "消息序号"},
                {field: "code", title: "机场三字代码"},
                {field: "frcd", title: "机场四字代码"},
                {field: "apat", title: "机场属性"},
                {field: "cnnm", title: "中文描述"},
                {field: "ennm", title: "英文描述"},
                {field: "aiso", title: "通航机场是否开启"},
                {field: "apsn", title: "航班简称"}
            ]],
            dataType: "json",
            id: 'test',
            page: true, // 是否显示分页
            limits: [10, 15, 20],
            limit: 10 // 每页默认显示的数量


        });

    });

    // 从后台获取数据
    axios.get('http://localhost:8081/echartsAPUE')
        .then(response => {
            const data = response.data.map(item => {
                const [name, value] = item.split(',');
                return { name: name === '2403' ? '国内' : name === '2401' ? '国际' : name === '2402' ? '混合' :'地区', value: parseInt(value) };
            });

            // 创建 ECharts 实例
            const myChart = echarts.init(document.getElementById('chart'));

            // 设置图表的基本属性
            myChart.setOption({
                title: {
                    text: '机场属性占比',
                    subtext: 'Fake Data',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left'
                },
                series: [{
                    name: '机场属性占比',
                    type: 'pie',
                    data: data
                }]
            });

            // 渲染图表
            myChart.render();
        })
        .catch(error => console.log(error));

</script>
</body>

</html>