<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>航班值机柜台动态信息更新</title>
    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <style>
        .layui-form-label {
            white-space: nowrap
        }

        .layui-inline .layui-input-inline button {
            border-radius: 5px;

        }

        .layui-breadcrumb {
            position: relative;
            top: 5px;
            left: 15px;
        }

        .layui-btn {
            width: 80px;
            height: 30px;
            line-height: 30px;
        }

        #addOrUpdateBillDiv .layui-inline {
            margin: 0 auto;
            display: block;
        }

        #addOrUpdateBillDiv .titleContent {
            margin: 10px 0;
        }

        #addOrUpdateBillDiv .layui-input-inline input {
            width: 200px;
        }
    </style>
</head>

<body>
<span class="layui-breadcrumb">
        <a href="http://localhost:8080">首页</a>
    </span>

<table id="newsTable" lay-filter="newsTable"></table>


<script src="/layui/layui.js"></script>
<script type="text/html" id="tableBar">
    <form class="layui-form" lay-filter="searchFrom">
        <div class="layui-form-item">
            <div class="layui-inline">

                <label class="layui-form-label">航班编号</label>
                <div class="layui-input-inline">
                    <input id="flid" type="text" name="flid" lay-verify="title" autocomplete="off"
                           placeholder="请输入编号" class="layui-input">
                </div>
                <label class="layui-form-label">航班标识</label>
                <div class="layui-input-inline">
                    <input id="fide" type="text" name="fide" lay-verify="title" autocomplete="off"
                           placeholder="请输入名称" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline" style="width: 100px;">

                    <button type="button" class="layui-btn  layui-btn-norma" lay-submit lay-filter="doSearch">搜索
                    </button>
                </div>
            </div>
        </div>
    </form>
</script>


<script type="text/javascript"  th:inline="none">
    layui.use(function () {
        let table = layui.table
        let $ = layui.$
        let layer = layui.layer
        var form = layui.form;
        var laydate = layui.laydate;


// 搜索功能
        form.on("submit(doSearch)", (data) => {

            // 判断是否有搜索条件，如果没有，则将查询参数设置为空对象
            console.log(data)
            console.log(data.field)
            tableInfo.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            }, "data");

            // 禁止页面刷新
            return false;
        });


        //渲染表格组件
        var tableInfo = table.render({
            elem: "#newsTable",
            toolbar: "#tableBar",
            url: "http://localhost:8081/airports/CKLS",
            cols: [[
                {checkbox: true,fixed: "left", width: 50},
                {field: "cntr_id", title: "编号",width: 80},
                {field: "meta_id", title: "消息序号",width: 100},
                {field: "flid", title: "航班编号",width: 100},
                {field: "ffid", title: "航班标识",width: 180},
                {field: "fide", title: "详细航班标识",width: 220},
                {field: "fatt", title: "航班属性",width: 100},
                {field: "fces", title: "航班旅客值机预计开始时间1",width: 220},
                {field: "fcee", title: "航班旅客值机预计结束时间1",width: 220},
                {field: "fcrs", title: "航班旅客值机实际开始时间1",width: 220},
                {field: "fcre", title: "航班旅客值机实际结束时间1",width: 220},
                {field: "mces", title: "航班旅客值机预计开始时间2",width: 220},
                {field: "mcee", title: "航班旅客值机预计开始时间2",width: 220},
                {field: "mcrs", title: "航班旅客值机实际开始时间2",width: 220},
                {field: "mcre", title: "航班旅客值机实际结束时间2",width: 220},
                {field: "fcdp", title: "值机柜台及值机柜台区域显示1",width: 220},
                {field: "mcdp", title: "值机柜台及值机柜台区域显示2",width: 220},
                {field: "ckno", title: "值机柜台序号",width: 150},
                {field: "id", title: "值机柜台唯一标识",width: 200},
                {field: "code", title: "值机柜台编号",width: 120},
                {field: "ckat", title: "值机柜台属性",width: 120},
                {field: "type", title: "柜台类型",width: 100},
                {field: "ccar", title: "值机柜台所属值机岛号标签",width: 200},
                {field: "estr", title: "预计开始使用时间",width: 180},
                {field: "eend", title: "预计结束使用时间",width: 180},
                {field: "rstr", title: "实际开始使用时间",width: 180},
                {field: "rend", title: "实际结束使用时间",width: 180},
                {field: "btsc", title: "资源所属楼号",width: 150}

            ]],
            dataType: "json",
            id: 'test',
            page: true, // 是否显示分页
            limits: [10, 15, 20],
            limit: 10 // 每页默认显示的数量


        });

    });


</script>
</body>

</html>